#header_image {
  margin: 50px 0 30px 0;
  width: 250px;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 140px;
  height: 35px;
  background-color: #272323;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  cursor: pointer;
}

#new {
  background-size: 120px 15px;
  background-image: url("../assets/create_room.png");
}

#join {
  background-size: 95px 15px;
  background-image: url("../assets/join_room.png");
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  background: rgba(255,213,105,1);
  background: -moz-linear-gradient(top, rgba(255,213,105,1) 0%, rgba(209,67,67,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,213,105,1)), color-stop(100%, rgba(209,67,67,1)));
  background: -webkit-linear-gradient(top, rgba(255,213,105,1) 0%, rgba(209,67,67,1) 100%);
  background: -o-linear-gradient(top, rgba(255,213,105,1) 0%, rgba(209,67,67,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,213,105,1) 0%, rgba(209,67,67,1) 100%);
  background: linear-gradient(to bottom, rgba(255,213,105,1) 0%, rgba(209,67,67,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd569', endColorstr='#d14343', GradientType=0 );
}
