@font-face {
  font-family: "Monogram";
  src: url("/assets/monogram.ttf");
}

#header {
  font-size: 4em;
  width: 250px;
  font-family: "Monogram";
  color: white;
}

#menu {
  height: 50vh;
}

.flex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#art {
  flex-direction: row;
  width: 100vw;
  height: 50vh;
  background-color: blue;
}

#room_id {
  resize: none;
  font-family: garamond;
  bottom: 30px;

  height: 35px;
  width: 140px;
  border-radius: 3px;
  font-size: 30px;
  text-align: center;
  color: #3A2C2C;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.character {
  position: relative;
  width: calc(25% - 1px);
  height: calc(100% - 1px);
  border: 1px solid black;
  border-right: 0px;
  border-bottom: 0px;
  overflow: hidden;
}

.character.one {
  border-left: 0px;
  width: 25%;
}

.character img {
  width: 300px;
  transform: rotateZ(-32deg);
}

.one {
  background-color: #B86060;
}

.two {
  background-color: #F3C451;
}

.three {
  background-color: #ADB8EF;
}

.four {
  background-color: #609F5F;
}

.button {
  width: 140px;
  height: 35px;
  color: white;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
  font-size: 1.5em;
  border-radius: 3px;
  border: 2px solid white;
}

.button:active {
  color: #3A2C2C;
  background-color: white;
}

#new {
  background-size: 120px 15px;
}

#join {
  background-size: 95px 15px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: garamond;
  background-color: #3A2C2C;
}
