body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  pointer-events: none;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#other_players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(50vh - 25px);
  width: 100%;
}

.character {
  width: calc(100% / 3 - 2px);
  height: calc(100% - 2px);
  border: 1px solid black;
  overflow: hidden;
}

.blue {
  background: #ADB8EF;
}

.green {
  background: #76A065;
}

.yellow {
  background: #F3C451;
}

.red {
  background: #B86060;
}

#one .char_img {
  width:200px;
  transform: translateX(-18%) translateY(-10%);
  z-index: 3;
  /*position: absolute;*/
}

#one .char_img_status {
  /*transform: translateX(50%);*/
}

#two .char_img {
  width:200px;
  /*transform: translateX(-18%) translateY(45%);*/
  z-index: 3;
  /*position: absolute;*/
}

#two .char_img_status {
  /*transform: translateX(50%) translateY(-377%);*/
}

#three .char_img {
  width:200px;
  /*transform: translateX(-18%) translateY(-8%);*/
  z-index: 3;
  /*position: absolute;*/
}

#three .char_img_status {
  transform: translateX(50%);
}

#you {
  height: calc(50vh - 25px);
  width: calc(100%);
  /*position: absolute;*/
  /*border: 2px solid black;*/

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

#you .char_img_main {
  width: 200px;
  /*transform: translateX(15%) translateY(-17%);*/
  position: absolute;
}

#you .char_img_status {
  /*width: 50px;*/
  position: relative;
  transform: translateY(100px) translateX(40px);
}

#you:active {
  animation-name: activate;
  animation-duration: 1s;
}

@keyframes activate {
  0% {opacity: 0.2;}
  100% {opacity: 1;}
}

#leave_room {
  height: calc(50px);
  width: calc(100%);
  /*border: 2px solid black;*/
  background-color: red;
}
