body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8e8e8e;
  font-family: garamond;
  font-size: 2em;
}

img {
  pointer-events: none;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  z-index: 2;
}

#loading_status {
  font-size: 0.5em;
}

#players {
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#other_players {
  flex-direction: row;
  height: calc(50vh - 25px);
  width: 100%;
}

.character {
  width: calc(100% / 3 - 2px);
  height: calc(100% - 2px);
  border: 1px solid black;
  overflow: hidden;

  position: relative;
  opacity: 0.2;
}

.ornament {
  position: absolute;
  top: 10px;
}

.character .ornament {
  width: 50px;
  height: 50px;
}

#you .ornament {
  width: 70px;
  height: 70px;
  left: 10px;
}


.blue {
  background: #ADB8EF;
}

.green {
  background: #76A065;
}

.yellow {
  background: #F3C451;
}

.red {
  background: #B86060;
}

.char_img {
  width: 300px;
}

.character .char_img {
  transform: rotateZ(-32deg);
}

#you {
  position: relative;
  height: calc(50vh - 25px);
  width: calc(100%);
  overflow: hidden;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;

  opacity: 0.2;
  /*animation-name: activate;
  animation-duration: 1s;
  animation-direction: reverse;*/
}

.character.ready {
  animation-name: activate;
  animation-duration: 1s;
  opacity: 1;
}

.character.playing {
  animation-name: activate;
  animation-duration: 1s;
  opacity: 1;
}

#you:active {
  animation-name: activate;
  animation-duration: 1s;
  opacity: 1;
}

#you .char_img {
  transform: rotateZ(0deg);
  width: 350px;
}

@keyframes activate {
  0% {opacity: 0.2;}
  100% {opacity: 1;}
}

#leave_room {
  height: calc(50px);
  width: calc(100%);
  border: 1px solid black;
  background-color: #3a2c2c;
  color: #d4d4d4;
}
